.flamix-preloader.hidden {
	transition: 2s;
	opacity: 0 !important;
	user-select: none;
	pointer-events:none;
}
.flamix-preloader__preloader-container {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.flamix-preloader__beam {
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	animation: beam 2s linear infinite;
	opacity: 0.3;
	top: 65px;
	left: 70px;
}
.flamix-preloader__x-container {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	animation: rotate_x 2s linear infinite;
}
.flamix-preloader__x-container span {
	position: absolute;
	display: inline-block;
	border-radius: 22px;
	width: 22px;
}
.flamix-preloader__beam-block {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	animation: rotate_beam 2s linear infinite;
}
.flamix-preloader .line-white-full,
.flamix-preloader .line-white-half,
.flamix-preloader .line-green-half {
	position: absolute;
	width: 22px;
	border-radius: 33px;
	height: 100%;
	left: 42px;
	bottom: 2px;
	overflow:hidden;
}
.flamix-preloader .line-white-full {
	transform: rotate(-45deg);
}
.flamix-preloader .line-white-full span {
	animation: move_1 2s linear infinite;
}
.flamix-preloader .line-white-half span {
	animation: move_2 2s linear infinite;
}
.flamix-preloader .line-white-half,
.flamix-preloader .line-green-half {
	transform: rotate(45deg);
}
.flamix-preloader .line-green-half span {
	animation: move_3 2s linear infinite;
}

@keyframes move_1 {
	20% {
		bottom: 0;
		height: 0;
	}
	20.1% {
		bottom: 0;
		height: 22px;
	}
	40% {
		bottom: 0;
		height: 100%;
	}
	100% {
		bottom: 0;
		height: 100%;
	}
}
@keyframes move_2 {
	0% {
		bottom: 0;
		height: 0;
	}
	60% {
		bottom: 0;
		height: 0;
	}
	60.1% {
		bottom: 0;
		height: 22px;
	}
	70% {
		bottom: 0;
		height: 50%;
	}
	100% {
		bottom: 0;
		height: 50%;
	}
}
@keyframes move_3 {
	0% {
		bottom: 65%;
		height: 0;
	}
	73% {
		bottom: 65%;
		height: 0;
	}
	80% {
		bottom: 65%;
		height: 35%;
	}
	100% {
		bottom: 65%;
		height: 35%;
	}
}
@keyframes beam {
	0% {
		opacity: 0.4;
	}
	2% {
		opacity: 0.4;
	}
	10% {
		opacity: 1;
	}
	11% {
		opacity: 0.4;
	}
	12% {
		opacity: 0.4;
	}
	19.5% {
		opacity: 1;
	}
	20% {
		top: 65px;
		left: 70px;
		opacity: 1;
	}
	40% {
		top: 9.5px;
		left: 14.3px;
	}
	60% {
		left: 14.3px;
		top: 65px;
	}
	80% {
		left: 70px;
		top: 9.5px;
		opacity: 1;
	}
	100% {
		left: 70px;
		top: 9px;
		opacity: 1;
	}
}
@keyframes rotate_x {
	0% {
		transform: rotate(0);
	}
	98% {
		transform: rotate(0);
		opacity: 1;
	}
	100% {
		transform: rotate(90deg);
		opacity: 0;
	}
}
@keyframes rotate_beam {
	0% {
		transform: rotate(0);
	}
	98% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(90deg);
	}
}